.wrapper{
            width: 980px;
			background-color: #d3b3b8;
        }
        
		.logo {
			float: left;
		}
		
		.reg{
            float: right;
        }
        .reg p{
            font-size: 20px;
			color: #faddec;
        }
        header{
            display: block;
            height:85px;
			background-color: #601c39;

        }
		nav{
		width: 830px;
		background-color: #faddec;
		padding-left:150px;
		}
		
		
        header div{
            display: inline;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            
        }
        

        nav ul li {
            float: left;

            width: 170px;
        }

        nav ul li a {
            display: block;
            color: #601c39;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
            font-size: 20px;
        }

		.page {
			background-color: #f6e3d6;
		}
        /* Change the link color to #fdd4be on hover */
        nav ul li a:hover {
            background-color: #601c39;
            color: #faddec;
        }
        /*
        nav ul li{
            display: inline;
            width: 200px;
            background-color: #88d7ba;

        }
        nav ul li div a{
             text-decoration: none;
            font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
            color: black;
            font-size: 20px;
            padding: 16px;

            background-color: #88d7ba;

         }
        nav ul li div{
            display: inline;

            height: 60px;
            background-color: #88d7ba;
        }
        */
		
		.left_menu1 {
            margin-right: 10px;
            display: inline-block;
			width:200px;
			vertical-align:top;
			font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
        }
		.left_menu2 {
            margin-right: 10px;
            display: inline-block;
			width:200px;
			vertical-align:top;
			font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
        }
		
        .sectionBlok section p{
            text-align: justify;
            font-size: 14px;
            width: 300px;
			
        }
        .sectionBlok{
			width:700px;
			display: inline-block;
            font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
            margin-right: 20px;
			background-color: #f6e3d6;
        }
        .sectionBlok section{
            margin: 20px;
			display: inline-block;
			background-color: #f9ece4;
        }
		
		best {
			background-color: #d3b3b8;
			
		}
		
		.best section a{
			margin: 20px;
			display: inline-block;
			font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
			font-size: 24px;
			font-style: bold;
			background-color: #82495f;
			color: white;
		}
		
		.best section {
			margin: 20px;
			display: inline-block;
			background-color: #82495f;
			height: 255 px;
			width: 198px;
		}
		
		.sectionBlok_lib section p{
            text-align: justify;
            font-size: 14px;
            width: 700px;
			
        }
        .sectionBlok_lib{
			width:700px;
			display: inline-block;
            font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
            margin-right: 20px;
			background-color: #ead7d1;
        }
        .sectionBlok_lib section{
            margin: 0px;
			display: inline-block;
			background-color: #ead7d1;
        }
		
		.about p{
			text-align: justify;
            font-size: 14px;
            width: 920px;
			margin: 30px;
		}
		
		.about{
			width:980px;
			display: inline-block;
            font-family: HelveticaNeueCyr, Century Gothic, sans-serif;
            margin-right: 20px;
			background-color: #f6e3d6;